.formDiv{
    height: 90vh;
    display: flex;
    align-items: center;
   
  }
  .registerForm{
      display: flex;
      justify-content: center;
      padding:15px 0 15px 0;
  }
  
  .navbarDiv{
      display: flex;
      justify-content: flex-end;
  }
  
  .spinner{
    margin-left: 1em;
}